# Documentazione ufficiale e interna
docs/

# Assicura il tracciamento della presentazione
!presentazione/

# File di sistema e cache
.DS_Store
Thumbs.db
*.tmp

# Python cache ed ambienti
__pycache__/
*.py[cod]
.venv/
venv/

# File ausiliari e intermedi LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.lot
*.lof
